<p style="color: green"><%= notice %></p>

<%= render @restaurant,  class: "ps-5" %>

<div class= "link_to">
  <%= link_to "Back to restaurants", restaurants_path,  class: "btn btn-outline-success"%>
  <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-outline-success " %>
</div>

<p><strong>Reviews</strong></p>
<ul class ="list-review">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-review-item"><%= review.content %> : <%= review.rating %> stars </li>
  <% end %>
</ul>
<br>
